//colors
$orange: #e35028;
$yellow: #f9b43b;
$black: #2f3234;
$red: #e45028;

//breakponts
$desktop: 820px;
$tablets: 768px;
$phones: 480px;

//@import "../../node_modules/normalize.css/normalize.css";
@import "css/misc/media.scss";
@import "css/misc/fonts.scss";
@import "css/misc/layout.scss";
//block
@import "css/blocks/*.scss";